<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="renderer" content="webkit" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0,uc-fitscreen=yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />

    <title></title>
    <link href="../Css/miniMobile.css" rel="stylesheet" />
    <link href="../Css/iconfont.css" rel="stylesheet" />
    <script src="../Javascript/minimobile/zepto.min.js"></script>
    <script src="../Javascript/minimobile/miniMobile.js"></script>
    <script src="../Javascript/minimobile/flexible.min.js"></script>

    <!-- fonticon -->
    <link href="../Css/iconfont.css" rel="stylesheet" />
    <!-- layer -->
    <script src="../Javascript/layer_mobile/layer.js"></script>
    
    <!-- swiper -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.5/css/swiper.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.5/js/swiper.min.js"></script>
    <!-- animate.css -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" />
</head>
<body class="fadeIn animated">
    <div class="col-12" style="overflow:auto;">
        <!--页头-->
        <header class="ui-header clearfix w75 h8 f46 pl3 pr3 color8 bg-color-success t-c o-h">
            <div class="ui-header-l fl w5">
                <a href="PartTimeJob.html" class="icon color8 iconfont icon-close"></a>
            </div>
            <div class="ui-header-c fl f30 w59">
                快速预览
            </div>
            <div class="ui-header-r fl w5">
                <i class="icon iconfont icon-phone"></i>
            </div>
        </header>

        <!--兼职详情-->
        <div class="w71 m2" style="overflow:auto;">
            <div class="w71 h6">
                <input type="hidden" name="jobId" id="jobId" />
                <h1 class="t-l col-9 f32 ml2 mt1" id="jobTitle">招聘产品推广代理</h1>
            </div>
            <div class="w71 h6">
                <p class="t-l tab-label fl f28 mt1 ml2" id="jobMoney">100/天</p><p class="tab-label fl f28 mt1 ml2 color6">|</p>
                <p class="t-l tab-label fl f28 mt1 ml2 color5" id="jobSettlement">月末结算</p><p class="tab-label fl f28 mt1 ml2 color6">|</p>
                <p class="t-l tab-label fl f28 mt1 ml2 color5" id="jobTime">5/1</p><p class="tab-label fl f28 mt1 ml2 color6">|</p>
                <p class="t-l tab-label fl f28 mt1 ml2 color5"><a id="jobBrowseNum">5231</a>次浏览</p>
            </div>
            <hr class="m2" />
            <div class="w71" style="overflow:auto;">
                <p class="t-l tab-label fl f28 ml2 mt1 color4">招募人数：</p> 
                <p class="t-l tab-label fl f28 ml2 mt1"><span id="jobPeopleNum">2000</span>人</p> 
                        <div style="clear:both;"></div>
                <p class="t-l tab-label fl f28 ml2 mt2 color4">工作日期：</p>
                <p class="t-l tab-label fl f28 ml2 mt2" id="jobStartDate">5/1至5/30，5/30截止</p>
                        <div style="clear:both;"></div>
                <p class="t-l tab-label fl f28 ml2 mt2 color4">工作时段：</p>
                <p class="t-l tab-label fl f28 ml2 mt2" id="jobWorkDate">时段不限，任务完成即可</p>
                        <div style="clear:both;"></div>
                <p class="t-l tab-label fl f28 ml2 mt2 color4">限制条件：</p>
                <p class="t-l tab-label fl f28 ml2 mt2" id="jobCondition">18岁以上</p>
            </div>
            <div class="w71 h10 mt2 bg-color6">
                <p class="t-l tab-label fl f28 ml2 mt3 color4">集合地点：</p>
                <p class="t-l tab-label fl f28 ml2 mt3" id="jobVenue">地点自由</p>
            </div>
            <div class="w71" style="overflow:auto;">
                <p class="t-l tab-label f28 ml2 mt2 color4">兼职描述</p>
                <div id="jobContent"></div>
                <p class="t-l tab-label f28 ml2 mt2">招聘全网产品推广代理</p>
                <p class="t-l tab-label f28 ml2 mt2">【招聘对象】</p>
                <p class="t-l tab-label f28 ml2 mt2">1.高中以下勿扰</p>
                <p class="t-l tab-label f28 ml2 mt2">2.业务人员等不相干人员勿扰</p>
                <p class="t-l tab-label f28 ml2 mt2">3.在校大学生，自由职业者优先</p>
                <p class="t-l tab-label f28 ml2 mt2">【工作描述】</p>
                <p class="t-l tab-label f28 ml2 mt2">1.经营灵活，操作自由，长期兼职均可，随时随地操作，不管学生，白领，家庭主妇，都可以暂开工作</p>
                <p class="t-l tab-label f28 ml2 mt2">2.经营灵活，操作自由，长期兼职均可，随时随地操作，不管学生，白领，家庭主妇，都可以暂开工作</p>
                <p class="t-l tab-label f28 ml2 mt2">3.经营灵活，操作自由，长期兼职均可，随时随地操作，不管学生，白领，家庭主妇，都可以暂开工作</p>
                <p class="t-l tab-label f28 ml2 mt2">4.经营灵活，操作自由，长期兼职均可，随时随地操作，不管学生，白领，家庭主妇，都可以暂开工作</p>              
            </div>
        </div>
        <div class="w75 h10"></div>
        <!-- 底部导航 -->
        <nav class="demo-bottomNav w75 h10 t-c" style="position:fixed;bottom:0px;">
            <!--style="position:absolute;bottom:0px;"-->
            <div class="w30 fl h10 btn btn-info">
                <a href="#">
                    <!--<i class="f46 icon iconfont icon-home_light"></i>-->
                    <p class="t-c-v f30 h10">咨询雇主</p>
                </a>
            </div>
            <div class="w45 fl h10 bg-color-success btn btn-success">
                <a href="#">
                    <!--<i class="f46 icon iconfont icon-list"></i>-->
                    <p class="t-c-v f30 h10 color8">报名</p>
                </a>
            </div>
        </nav>

    </div>

    <script>
        //底部弹出的完整对话框
        $(".btn").eq(0).click(function () {
            layer.open({
                title: [
                    '提问',
                    'background-color:#8DCE16; color:#fff;'
                ],
                anim: 'up',
                content: '<input class="w50" style="border-top:0px;border_left:0px;border_right:0px;"></input>',
                btn: ['确认', '取消']
            });
        })
        //询问层
        $(".btn").eq(1).click(function () {
            layer.open({
                content: '您确定要报名吗？',
                btn: ['确定', '考虑下'],
                yes: function (index) {
                    layer.close(index);
                }
            });
        })
        $.ajax({
            url: "../partTimeJob/GetJobInfo.ashx?jobId=" + localStorage.getItem("jobId"),
            type: "get",
            success: function (data) {
                //alert(data);
                var dt = JSON.parse(data);
                $("#jobId").val(dt.JobId);
                $("#jobTitle").text(dt.JobTitle);
                $("#jobMoney").text(dt.JobMoney);
                $("#jobSettlement").text(dt.JobSettlement);
                $("#jobTime").text(dt.jobTime);
                $("#jobBrowseNum").text(dt.JobBrowseNum);
                $("#jobPeopleNum").text(dt.JobPeopleNum);
                $("#jobStartDate").text(dt.JobStartDate);
                $("#jobWorkDate").text(dt.JobWorkDate);
                $("#jobCondition").text(dt.JobCondition);
                $("#jobContent").html(dt.JobContent);
            }
        })
    </script>
</body>
</html>
