<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="renderer" content="webkit" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0,uc-fitscreen=yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    
    <title></title>
    <link href="../Css/miniMobile.css" rel="stylesheet" />
    <link href="../Css/iconfont.css" rel="stylesheet" />
    <script src="../Javascript/minimobile/zepto.min.js"></script>
    <script src="../Javascript/minimobile/miniMobile.js"></script>
    <script src="../Javascript/minimobile/flexible.min.js"></script>

    <!-- mobileSelect -->
    <link href="../Css/mobileSelect.css" rel="stylesheet" />
    <script src="../Javascript/minimobile/mobileSelect.js"></script>
    <script src="../Javascript/select-miniMobile.js"></script>

    <!-- swiper -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.5/css/swiper.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.5/js/swiper.min.js"></script>
    <!-- animate.css -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" />

</head>
<body class="fadeIn animated">
    <div class="col-12" style="overflow:auto;">
        <!--页头-->
        <header class="ui-header clearfix w75 h8 f46 pl3 pr3 color8 bg-color-success t-c o-h">
            <div class="ui-header-l fl w5">
                <a href="../index.html" class="icon color8 iconfont icon-home_light"></a>
            </div>
            <div class="ui-header-c fl f30 w59">
                快速预览
            </div>
            <div class="ui-header-r fl w5">
                <i class="icon iconfont icon-phone"></i>
            </div>
        </header>



        <!-- swiper轮播图 -->
        <section class="swiper-container h40 swiper-container-horizontal">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="../image/banner/424213.jpg" class="w75 h40" /></div>
                <div class="swiper-slide"><img src="../image/banner/7730-1502041T520.jpg" class="w75 h40" /></div>
                <div class="swiper-slide"><img src="../image/banner/低俗小说.jpg" class="w75 h40" /></div>
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </section>

        <!-- 下拉菜单 -->
        <div id="trigger1" class="t-c-v f28 w75 h6 radio10">全武汉<i class="fr icon iconfont icon-unfold"> </i></div>

        <!--兼职列表-->
        <div class="w75">
            <a href="JobInfo.html">
                <div class="w71 t-c h16 f28 m2 radio">
                    <img class="m1 col-2 radius-o" src="../image/wb/wb_pai.jpeg" />
                    <p class="t-l col-8 f30 mt1 ml3" style="font-weight:500">招聘产品推广代理</p>
                    <p class="t-l col-2 f28 mt1 ml3">100/天</p>
                    <p class="t-l col-6 f28 mt1 ml2 color4">月末结算</p>
                    <p class="t-l col-2 f28 mt1 ml3 color4">全市</p>
                    <p class="t-l col-6 f28 mt1 ml2 color4">5/1至5/30</p>
                </div>
            </a>
            <hr class="w67 ml4" />
            <div class="w71 t-c h16 f28 m2 radio">
                <img class="m1 col-2 radius-o" src="../image/wb/wb_pai.jpeg" />
                <p class="t-l col-8 f30 mt1 ml3" style="font-weight:500">招聘产品推广代理</p>
                <p class="t-l col-2 f28 mt1 ml3">100/天</p>
                <p class="t-l col-6 f28 mt1 ml2 color4">月末结算</p>
                <p class="t-l col-2 f28 mt1 ml3 color4">全市</p>
                <p class="t-l col-6 f28 mt1 ml2 color4">5/1至5/30</p>
            </div>
            <hr class="w67 ml4" />
            <div class="w71 t-c h16 f28 m2 radio">
                <img class="m1 col-2 radius-o" src="../image/wb/wb_pai.jpeg" />
                <p class="t-l col-8 f30 mt1 ml3" style="font-weight:500">招聘产品推广代理</p>
                <p class="t-l col-2 f28 mt1 ml3">100/天</p>
                <p class="t-l col-6 f28 mt1 ml2 color4">月末结算</p>
                <p class="t-l col-2 f28 mt1 ml3 color4">全市</p>
                <p class="t-l col-6 f28 mt1 ml2 color4">5/1至5/30</p>
            </div>
            <hr class="w67 ml4" />
            <div class="w71 t-c h16 f28 m2 radio">
                <img class="m1 col-2 radius-o" src="../image/wb/wb_pai.jpeg" />
                <p class="t-l col-8 f30 mt1 ml3" style="font-weight:500">招聘产品推广代理</p>
                <p class="t-l col-2 f28 mt1 ml3">100/天</p>
                <p class="t-l col-6 f28 mt1 ml2 color4">月末结算</p>
                <p class="t-l col-2 f28 mt1 ml3 color4">全市</p>
                <p class="t-l col-6 f28 mt1 ml2 color4">5/1至5/30</p>
            </div>
            <hr class="w67 ml4" />
            <div class="w71 t-c h16 f28 m2 radio">
                <img class="m1 col-2 radius-o" src="../image/wb/wb_pai.jpeg" />
                <p class="t-l col-8 f30 mt1 ml3" style="font-weight:500">发传单</p>
                <p class="t-l col-2 f28 mt1 ml3">100/天</p>
                <p class="t-l col-6 f28 mt1 ml2 color4">月末结算</p>
                <p class="t-l col-2 f28 mt1 ml3 color4">全市</p>
                <p class="t-l col-6 f28 mt1 ml2 color4">5/1至5/30</p>
            </div>
            <hr class="w67 ml4" />
            <div class="w71 t-c h16 f28 m2 radio">
                <img class="m1 col-2 radius-o" src="../image/wb/wb_pai.jpeg" />
                <p class="t-l col-8 f30 mt1 ml3" style="font-weight:500">发传单</p>
                <p class="t-l col-2 f28 mt1 ml3">100/天</p>
                <p class="t-l col-6 f28 mt1 ml2 color4">月末结算</p>
                <p class="t-l col-2 f28 mt1 ml3 color4">全市</p>
                <p class="t-l col-6 f28 mt1 ml2 color4">5/1至5/30</p>
            </div>
        </div>
        <div class="w75 h10"></div>
        
        <!-- 底部导航 -->
        <nav class="demo-bottomNav w75 h10 t-c bg-color8" style="position:fixed;bottom:0px;">
            <!--style="position:absolute;bottom:0px;"-->
            <div class="w25 fl h10">
                <a href="../Minimobile.html">
                    <i class="f46 icon iconfont icon-home_light"></i>
                    <p>首页</p>
                </a>
            </div>
            <div class="w25 fl h10">
                <a href="#">
                    <i class="f46 icon iconfont icon-list"></i>
                    <p>任务</p>
                </a>
            </div>
            <div class="w25 fl h10">
                <a href="../View/personalCenter.html">
                    <i class="f46 icon iconfont icon-servicefill"></i>
                    <p>我的</p>
                </a>
            </div>
        </nav>

    </div>


    <!--图片滚动-->
    <script>
    var swiper = new Swiper('.swiper-container', {
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        pagination: {
            el: '.swiper-pagination',
        }
    });
    </script>
    <style>
        .swiper-button-next,
        .swiper-button-prev {
            /*swiper 默认图标适应性较差，使用rem单位规定左右按钮大小，图标大小*/
            width: 0.3rem !important;
            height: 0.5rem !important;
            background-size: cover !important;
            margin-top: -0.23rem !important;
        }
    </style>

    <!--下拉菜单-->
    <style>
        .list div {
            border: 1px solid #ccc;
            line-height: 2em;
        }
    </style>   
    
</body>
</html>
