<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>个人中心</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <script src="../Javascript/Lib/jquery.min.js"></script>

    <script src="../Javascript/Lib/bootstrap.js"></script>
    <script src="../Javascript/personalCenter/personalCenter.js"></script>
    <link href="../Css/personalCenter/personalCenter.css" rel="stylesheet" />
    <link href="../Css/miniMobile.css" rel="stylesheet" />
    <link href="../Css/iconfont.css" rel="stylesheet" />
    <script src="../Javascript/minimobile/zepto.min.js"></script>
    <script src="../Javascript/minimobile/miniMobile.js"></script>
    <script src="../Javascript/minimobile/flexible.min.js"></script>

</head>
<body>
    <div>
        <!--头部-->
        <div id="header">
            <div class="header-top">
                <a class="header-top-setting">设置</a>
                <img class="header-top-message" src="../image/information_balloon_32px_562796_easyicon.net.png" />
            </div>
            <div class="header-content">
                <img class="content-face" src="../image/%e4%b8%aa%e4%ba%ba%e5%9b%be%e7%89%87.PNG" />
                <div class="content-fill">
                    <label class="content-username">***</label>
                    <span class="content-usedetail"><label>邀请码：</label><label class="copy-label">***</label><a onclick="copyNo()">复制</a></span>
                </div>
            </div>
        </div>
        <!--中间内容-->
        <div id="content">
            <div class="content-agency">
                <p>总代理:<label class="people-num">0</label></p>
                <div>
                    <dl><dt>一级代理/推荐</dt><dd><label class="oneAgency">0</label>人</dd></dl>
                    <dl><dt>二级代理/推荐</dt><dd><label class="twoAgency">0</label></dd></dl>
                    <dl><dt>三级代理/推荐</dt><dd><label class="twoAgency">0</label></dd></dl>
                </div>
            </div>
            <div class="order-list">
                <div>
                    <span><img src="../image/personalCenter/qianbao.png" />我的钱包</span>
                    <span class="order-money">
                        <label class="myMoney">¥0</label>
                        <img src="../image/personalCenter/right.png" onclick="orderClick(1)" />
                    </span>
                </div>
                <div>
                    <span><img src="../image/personalCenter/jiasu.png" />积分加速</span>
                    <span class="order-speed"><label onclick="orderClick(2)" class="accelerate">仅剩0天加速</label></span>
                </div>
                <div>
                    <span><img src="../image/personalCenter/zhuansi.png" />成为VIP会员</span>
                    <span class="order-vip"><label onclick="orderClick(3)">立即开通</label></span>
                </div>
            </div>
            <div class="menu-list"></div>
        </div>
        <!--空白部分-->
        <div class="h10"></div>
    </div>
    <!-- 底部导航 -->
    <nav class="demo-bottomNav w75 h10 t-c bg-color8" style="position:fixed;bottom:0px;">
        <!--style="position:absolute;bottom:0px;"-->
        <div class="w25 fl h10">
            <a href="../Minimobile.html">
                <i class="f46 icon iconfont icon-home_light"></i>
                <p>首页</p>
            </a>
        </div>
        <div class="w25 fl h10">
            <a href="#">
                <i class="f46 icon iconfont icon-list"></i>
                <p>任务</p>
            </a>
        </div>
        <div class="w25 fl h10">
            <a href="../View/personalCenter.html">
                <i class="f46 icon iconfont icon-servicefill"></i>
                <p>我的</p>
            </a>
        </div>
    </nav>
</body>
</html>
